  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a class="nav-link" (click)="redirectToAbout()">Contact</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit" routerLink="/login">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 1
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 2
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#"><i
            class="fas fa-th-large"></i></a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">CiplaQC</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a  class="d-block">{{userName}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item ">
            
                <a routerLink="/loanz/home" class="nav-link">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>Dashboard</p>
                </a>
          </li>
          
          
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Members
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            
            <ul class="nav nav-treeview">
              <!--
              <li class="nav-item">
                <a  class="nav-link" routerLink="clients/add">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add</p>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" routerLink="clients/view">
                  <i class="far fa-circle nav-icon"></i>
                  <p>View</p>
                </a>
              </li>-->

              <li class="nav-item">
                <a  class="nav-link" routerLink="clients/pending">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Pending</p>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" routerLink="clients/verified">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Verified</p>
                </a>
              </li>
              <!--
              <li class="nav-item">
                <a  class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Suspended</p>
                </a>
              </li> /.item -->
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tree"></i>
              <p>
                Loans
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">

              <!-- 
              <li class="nav-item">
                <a  class="nav-link" routerLink="loan/add">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink = "loan/outstanding">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Repay</p>
                </a>
              </li> -->

              <li class="nav-item">
                <a class="nav-link" routerLink = "loan/outstanding">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Outstanding</p>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" routerLink = "loan/due">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Due</p>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" routerLink="loan/pending">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Pending</p>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" routerLink ="loan/verified">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Verified</p>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" routerLink ="loan/approved">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Approved</p>
                </a>
              </li>

            </ul>
          </li>
          <li *ngIf="user" class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Reports
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <!-- <li class="nav-item">
                <a  class="nav-link" routerLink ="user/userTransactions">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Transactions</p>
                </a>
              </li> -->
              <li class="nav-item">
                <a  class="nav-link" routerLink ="user/dateTransactions">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Date-Transactions</p>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Profit & Loss</p>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Graphs</p>
                </a>
              </li>
            </ul>
          </li>
         



          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Sacco Accounts
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a  class="nav-link" routerLink ="account/all">
                  <i class="far fa-circle nav-icon"></i>
                  <p>All Accounts</p>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" >
                  <i class="far fa-circle nav-icon"></i>
                  <p>Savings Account</p>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" >
                  <i class="far fa-circle nav-icon"></i>
                  <p>Shares Account</p>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" >
                  <i class="far fa-circle nav-icon"></i>
                  <p>Membership Account</p>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" >
                  <i class="far fa-circle nav-icon"></i>
                  <p>Loans Account</p>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" >
                  <i class="far fa-circle nav-icon"></i>
                  <p>YO Account</p>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" >
                  <i class="far fa-circle nav-icon"></i>
                  <p>Bank Account</p>
                </a>
              </li>
              
            </ul>
          </li>



         
          <li class="nav-header">SETTINGS</li>
          
          <li *ngIf="user" class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-envelope"></i>
              <p>
                Users
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li  class="nav-item">
                <a class="nav-link" routerLink="user/add">
                  <i class="far fa-circle nav-icon"></i>
                  <p>add</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="user/view">
                  <i class="far fa-circle nav-icon"></i>
                  <p>View</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Products
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a  class="nav-link" routerLink="product/add">
                  <i class="far fa-circle nav-icon"></i>
                  <p>add</p>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" routerLink="product/all">
                  <i class="far fa-circle nav-icon"></i>
                  <p>view</p>
                </a>
              </li>

            </ul>
          </li>
         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

   <!-- Main Footer -->
   <footer class="main-footer">
    <strong>Copyright &copy; 2020-2025 <a >Ruraara tech</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.2
    </div>
  </footer>

<router-outlet></router-outlet>

